   <% cache("facebook/profile_pic/#{user.id}") do %> 
	     <div style= "height:52px;width:52px; padding:2px;border:thin solid grey;">
		 	<%= profile_pic(user) %>  
		 </div>  
	<% end %>              