<p><label for="message_subject">Subject</label>
<%= text_field 'message', 'subject'  %></p>
<p><label for="message_body">Message</label>
<%= text_area 'message', 'body', :size => '34x7'  %></p>
<p><label>&nbsp;</label> <%= submit_tag label, options %></p>
