<html>
   <center>
	   <!-- <span style="font:10px normal Arial; color:#777; padding-bottom:4px;">Please add noreply@meetingwave.com  to your contacts list to avoid having these emails automatically blocked from your inbox.</span><br>-->
      <table width="640" cellpadding="0" cellspacing="0" style="font: 0.8em arial; color: #155E8D; border-collapse: collapse;">
         <tr>
            <td>
              <a href="http://www.meetingwave.com" target="ttb">
              
               <%= image_tag "/images/meetingwave/new_email_logo.gif", :width=>"640",:height=>"95",:alt=>"MeetingWave.com",:border=>"0" %>
              
              <!--<img src="/images/meetingwave/new_email_logo.gif" width="640" height="95" alt="MeetingWave.com" border="0">--></a>
            </td>
         </tr>
         <tr>
            <td>
               <table width="640" cellpadding="0" cellspacing="0" style="border:0px solid #155E8D; border-width:0 1px 20px 1px; border-collapse: collapse;"> 
