Re: <%= link_to(@invitation.name,@url) %>
<%= "#{@invitee_name.capitalize_each_word} #{invited_as(@confirmation)}" %> has accepted your invitation<%= @occurrence %>.    

<%= message_txt(@invitee_name, @message) %>      
                                                                     