Re: <a href='<%= @url %>'> <%= @invitation.name  %> </a>
<%= "#{@inviter_name.capitalize_each_word} #{invited_as(@confirmation)}" %> has declined to meet with you<%= @occurrence %>. 

<%= message_txt(@inviter_name, @message) %>
