Dear  <%= @inviter_name %>,  Your Invite has been deleted from MeetingWave
because it either does not comply with our Terms of Use or appears to be a test
Invite.  If we are incorrect, we apologize for any inconvenience and request
that you please contact us.   

Thank you, 
The MeetingWave Team


 

