<%= render :partial => '/invitation_notify/header' %>

<%= headline("You've been invited!") %>

<%= open_body %>
 <%= render :partial => '/invitation_notify/five_ws' %>
              
  
 <%= message(@inviter_name, @message) %>

<%= close_body %>

<%= rsvp_button(@url) %>



<%= open_body %>

<%= render :partial => '/invitation_notify/invite_explanation' %>

<%= close_body %>

<%= brought_to_you_by %>

<%= render :partial => '/invitation_notify/footer' %>
