Re: <a href='<%= @url %>'> <%= @invitation.name  %> </a>
<%= "#{@invitee_name.capitalize_each_word} #{invited_as(@confirmation)}" %> has declined your invitation<%= @occurrence %>.

<%= message_txt(@invitee_name, @message) %>

