Your invite has been posted: 
 Who:   <%=  @inviter_name.capitalize_each_word %> 
 What:  <%=  @invitation.name %>   
 When:  <%=  start_time(@invitation) %>   
 Where: <%=  where_text(@invitation)  %> 
 Why:   <%=  why(@invitation) %>  

<%= message_txt(@inviter_name, @message) %>

<a href='<%= @url %>'> Click to View Invite </a>
 