<div class="left_column">
	  <%= render :partial => 'invite_editor/editor_who' %>	
   <%= render :partial => 'invite_editor/editor_when' %>
 <%= render :partial => 'invite_editor/editor_why' %>

	

</div>


<div class="right_column">
	
   <%= render :partial => 'invite_editor/editor_what' %>
  <%= render :partial => 'invite_editor/editor_where_map' %>


</div>
<br class="clear" />
