<style type="text/css">  
.select-public1 {
border:1px solid #D0D0D0;
color:#666666;
font-family:Arial,Helvetica,sans-serif;
margin:0 0 0 0px;
width:148px;
}
</style>

<p class="add">COUNTRY<br><%= mw_country_select( 'address', 'country', ["United States", "Canada"], {:include_blank => true}, { :onchange => "setCountry();",:class => "select-public1",:style => "width:140px;"}) %></p>