<table width="164" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td width="20" valign="top"><p><img src="/images/newdesign/selected.png" onclick="Togglepopup('light1'); Togglefade('fade1');">
	</p></td>
    <td width="144" valign="top"><p class="specify-text-selected" style="padding-bottom:9px;">Decide Location Later</p></td>
    </tr>
  
  <tr>
    <td valign="top"><p><img src="/images/newdesign/unselected.png" onclick="Togglepopup('light2');Togglefade('fade2');"></p></td>
    <td valign="top"><p class="specify-text-unselect">New Location</p></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" valign="top" height="8"></td>
    </tr>
  <tr>
    <td valign="top"><p><img src="/images/newdesign/unselected.png" onclick="Togglepopup('light3');Togglefade('fade3');"></p></td>
    <td valign="top"><p class="specify-text-unselect">Saved Location</p></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" valign="top" height="8"></td>
    </tr>
  <tr>
    <td valign="top"><p><img src="/images/newdesign/unselected.png" onclick="Togglepopup('light4');Togglefade('fade4');"></p></td>
    <td valign="top"><p class="specify-text-unselect">Airport</p></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" valign="top" height="8"></td>
    </tr>
  <tr>
    <td valign="top"><p><img src="/images/newdesign/unselected.png" onclick="Togglepopup('light5');Togglefade('fade5'); resise();"></p></td>
    <td valign="top"><p class="specify-text-unselect">Search for a Location</p></td>
    <td>&nbsp;</td>
  </tr>
  </table>