<style type="text/css">  
.select-public2 {
border:1px solid #D0D0D0;
color:#666666;
font-family:Arial,Helvetica,sans-serif;
margin:0 0 0 0px;
width:148px;
}
</style>
<p class="add">STATE<br><%= us_state_select_new('address', 'state', {:include_blank => true}, { }, {:class => "select-public2"}) %></p>