<%= error_messages_for 'military_branch' %>

<!--[form:military_branch]-->
<p><label for="military_branch_name">Name</label><br/>
<%= text_field 'military_branch', 'name'  %></p>
<!--[eoform:military_branch]-->

