Hello <%= @name %>,

This message was sent automatically by MeetingWave.com to inform you that
your password has been changed successfully.  See you online!

<%= @url %>


<%= warning_msg_txt("If you did not change your password, please notify us immediately at help@meetingwave.com.") %>


<%= brought_to_you_by_txt %>
