<%= @name %>,

We at MeetingWave are writing to let you know that your account has been
permanently deleted.  If you're leaving because there's something we could do
better, please let us know: http://meetingwave.com/contact.

Come back soon!  

Sincerely,

- MeetingWave.com
 
<%= brought_to_you_by_txt %>
