Hello <%= @name %>,

We received your request to change your password.  Please follow the link below
and you will be able to enter a new password for MeetingWave.  

  <%= @url %>


<%= warning_msg_txt("If you did not request your password to be reset, please notify us immediately at help@meetingwave.com.") %>


<%= brought_to_you_by_txt %>


