<div id="displaydomain" style="display:none; position: absolute; top: 138px; left: 438px; padding:8px; border:10px solid #000000; background-color: #d3e1ea; z-index:1002; overflow: auto; width: 400px; height: 229px;"> <a href = "javascript:void(0)" onclick = "document.getElementById('displaydomain').style.display='none';document.getElementById('fade_displaydomain').style.display='none'"><img src="/images/close.png"  border="0"  style="margin:3px 0 0 360px; background-color:#d3e1ea;" /></a>
    <div style="margin-left: 7px; margin-right: 7px; font-size:13px;">
        <p align="left" style="font-size:15px;">Check box to display your verified email domains (e.g., @ibm.com, @alumni.mit.edu) on your MeetingWave profile. This allows you to easily verify your background information to other members.</p><br />
        <p align="left" style="font-size:15px;">You can also use your MeetingWave profile url (meetingwave.com/p/username) with your verified domains elsewhere on the Internet (e.g., LinkedIn, Craigslist, blogs, etc.) to verify your background information and ask others do the same.</p>	
    </div>
</div>
<div id="fade_displaydomain" style="display:none; position: absolute;top: 0%;left: 0%;width: 100%;height:1250px;background-color: black;z-index:1001;-moz-opacity: 0.8;opacity:.80;filter: alpha(opacity=80);"></div>