<div id="explain" style="display:none; position: absolute; top: 138px; left: 438px; padding:8px; border:10px solid #000000; background-color: #d3e1ea; z-index:1002; overflow: auto; width: 400px; height: 159px;"> <a href = "javascript:void(0)" onclick = "document.getElementById('explain').style.display='none';document.getElementById('fade_explain').style.display='none'"><img src="/images/close.png"  border="0"  style="margin:3px 0 0 360px; background-color:#d3e1ea;" /></a>
    <div style="margin-left: 7px; margin-right: 7px; font-size:13px;">
        <p align="left" style="font-size:15px;">Verify one or more work or alumni email addresses to display the verified email domains (e.g., ibm.com, @alumni.mit.edu) on your profile. This allows you to easily verify your background information to others. Ask others to do the same before accepting your invites.</p>	
    </div>
</div>
<div id="fade_explain" style="display:none; position: absolute;top: 0%;left: 0%;width: 100%;height:1250px;background-color: black;z-index:1001;-moz-opacity: 0.8;opacity:.80;filter: alpha(opacity=80);"></div>