<div class="logo_lg">
  <div class="largelogo"> <a href="http://meetingwave.com"><img src="/images/ttb/clear.gif" alt="MeetingWave" width="156" height="137" /></a> </div>

  <%= tagline('tagline_lg') %>

</div>
