<!--[if IE ]>
<style type="text/css">
  #password_field label.overlabel-apply {
    padding-top: 6px;
  }
  input#member_password_header {
    margin-top: 4px;
  }
  #login-button {
    margin-top:8px;
  }
  p#you-decide {
    margin-top: 50px;
  }
  ul#browse-post {
    margin-top: 20px;
  }
  #sub-nav-wrap {
    margin-top: 6px;
  }
  #main-nav-wrap {
    margin-top: 8px;
  }
  #logo-box {
	  margin-top: 0;
	  padding-top: 0;
  }
  #logo {
	  margin-top: 5px;
  }
</style>
<![endif]-->

<!--[if lte IE 6 ]>
<style type="text/css">

  #login-button {
    margin-top: 6px;
    float:right;
  }

  #logo {
    width: 320px;
  }

  #browse-sub-nav-wrap {
    width: 290px;
  }

  

</style>
<![endif]-->


<!--[if IE 7 ]>
<style type="text/css">

  input#member_password_header {
    margin-top: 0px;
  }

  #password_field label.overlabel-apply {
    padding-top: 2px;
  }

.formbit {
	width: 265px;
}

.formbit.rightside {
	margin-left: 0px;
	padding-left: 15px;
}

</style>
<![endif]-->


<!--[if gte IE 8 ]>
<style type="text/css">
  #password_field label.overlabel-apply {
    padding-top: 2px;
  }
  input#member_password_header {
    margin-top: 0px;
  }
  #login-button {
    margin-top:8px;
  }
  p#you-decide {
    margin-top: 50px;
  }
  ul#browse-post {
    margin-top: 20px;
  }
  #sub-nav-wrap {
    margin-top: 6px;
  }
  #main-nav-wrap {
    margin-top: 8px;
  }
  #logo-box {
	  margin-top: 0;
	  padding-top: 0;
  }
  #logo {
	  margin-top: 20px;
  }

</style>
<![endif]-->
<style type="text/css">
	a#login_using_google_nav {
		clear: none;
	}
</style>

<!--<div  class="shortmasthead" style="background-color:#E8F2DA; display:inline-block;">-->
<div  class="shortmasthead">
 <div class="header_new"">
  <div class="topleft" >
  <ul id="navbarlogo">
    <li id="navbarlogo-logo"><a href="/" onmouseover="Tip(&#39;<strong>What\&#39;s MeetingWave\&#39;s value to you?</strong> <br/> <p style=&quot;padding-left:5px;&quot;><ul style=&quot;margin:0;padding:0;&quot;><li style=&quot;list-style-position:outside;list-style-type:disc; margin-left:1.5em;&quot;> Think of it as creating opportunities for you to be contacted by a potential employer or client to have lunch\-without you ever having to disclose your contact information or identity.</li><li style=&quot;list-style-position:outside;list-style-type:disc; margin-left:1.5em;&quot;>You can ignore or decline, without ever revealing who you are.</li><li style=&quot;list-style-position:outside;list-style-type:disc; margin-left:1.5em;&quot;>MeetingWave provides control, privacy &amp; flexibility.</li></ul></p>&#39;, BALLOON, true, ABOVE, true, OFFSETX, -17);" onmouseout="UnTip();"><span>Meetingwave</span><span>Meetingwave</span></a></li>
  </ul>  </div>
  <div class="nav"><table width="337" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="right"><ul id="topnavbar">
        <li id="topnavbar-aboutus"><%= link_to("", about_url) %><span>Clients</span></li>
        <li id="topnavbar-howitworks"><a href = "javascript:void(0)" onclick = 
			"document.getElementById('how').style.display='block';document.getElementById('fade_how').style.display='block'"><span>Contacts</span></a></li>
        <li id="topnavbar-signin">
          <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><span>cases</span></a>
        </li>
      </ul></td>
    </tr>
  </table>
  </div>
</div>



</div>
