<div id="whatisverified" style="display:none; position: absolute; top: 138px; left: 438px; padding:8px; border:10px solid #000000; background-color: #d3e1ea; z-index:1002; overflow: auto; width: 450px; height: 330px;"> <a href = "javascript:void(0)" onclick = "document.getElementById('whatisverified').style.display='none';document.getElementById('fade_whatisverified').style.display='none'"><img src="/images/close.png"  border="0"  style="margin:3px 0 0 400px; background-color:#d3e1ea;" /></a>
    <div style="margin-left: 7px; margin-right: 7px; font-size: 13px;">
        <p align="left" style="font-size: 15px;">If you are a MeetingWave member, you can now have your work or alumni email addresses "verified" by MeetingWave and display an indication of that verification on your profile. A "verified" email address is one that has been confirmed as authentic and valid. When someone sees verified email domains (e.g., @ibm.com or @brown.edu) on your profile, they will know you must be associated with the university or company identified in the email domain.</p><br>
        <p align="left" style="font-size: 15px;">Verification promotes trust and confidence in the information posted on a profile.</p> <br>
        <p align="left" style="font-size: 15px;">MeetingWave members can display their verified email domains on their MW profile (meetingwave.com/p/username) and use that profile url VIRTUALLY ANYWHERE on the Internet with or without their identity.</p>	
    </div>
</div>
<div id="fade_whatisverified" style="display:none; position: absolute;top: 0%;left: 0%;width: 100%;height:1250px;background-color: black;z-index:1001;-moz-opacity: 0.8;opacity:.80;filter: alpha(opacity=80);"></div>