

<div style="width:500px;margin:5px auto 0px auto;font-size:15px;">
<fb:editor action="send_feedback" labelwidth="100" >   
  
    <fb:editor-text label="Subject" name="subject"  />

    <fb:editor-textarea label="Feedback" name="feedback" rows="15" />
 
    <fb:editor-buttonset> 
 			<fb:editor-button value="Send Feedback"/>  
	 </fb:editor-buttonset>
</fb:editor> 
</div>  
