
<h1>
  <fb:prompt-permission perms="offline_access">
     Click here to allow MeetingWave to send you notifications when someone shows
     interest in your Invite.
    </fb:prompt-permission>
  </h1> 

  <fb:prompt-permission perms="email">
    Click here to allow MeetingWave to send you emails?
    </fb:prompt-permission>


