<% widget_box_id = "user_widget_#{profile_widget.id}" %>

<div class="pwidget" id="<%= widget_box_id %>">
	
	<div class="header">
		<h3><%= profile_widget.title.upcase %></h3>
	</div>
	
	<!-- VIEW -->
	<div class="view">
		<% profile_widget.profile_sections.each do |section| %>
			<h4 class="subheader"> <%= section.name.upcase %> </h4>
			<h5 class="entry"> 
					<%= section.section_details.collect(&:text).join("<br/>") %> 
			</h5>
		<% end %>
	</div>

</div>