<h1>New member_profile</h1>

<%= form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag("Create", { :class => "submit-button" }) %>
</form>

<%= link_to 'Back', :action => 'list' %>
