<h1>Profile Not Found</h1>

<p>That member profile could not be found.  You might have mis-typed the URL, or the user may no longer have a public profile. <br/> Maybe you want to:
<ul class="orangebit_list">
	<li> <%= link_to "Browse upcoming meetings", upcoming_url %></li>
	<li> <%= link_to "Search for meetings near you", ssearch_url %></li>
	<li> <%= link_to "Post an invite", postinvite_url %></li>
</ul>
</p>