<div id="reminder_settings" class="widgetrightinvitation">
	   <!--h3 >EMAIL REMINDERS </h3-->
	   <form id="reminder_form"> 
	    	<div id="reminder_body">
	        	<div id="reminder_cb"> <%= reminder_button_detail(invitation, member) %> </div> Remind me <%= reminder_select_advance(reminder, invitation, member) %>
				before the meeting via email.
			</div>
	   </form>
</div>