<p class="you"> 
	<span class="title"> <%= message.created_at.strftime("%m/%d") %> 
	You said:</span>   
	<span class="message">  <%= message.body %></span>
</p>

<div id="new_message" style="display: none;">  </div>
