    <h1 style="padding-left: 36px;"> Sorry, that invitation could not be found!  </h1>


        <p style="padding-left: 36px;"> The invitation you requested could not be found.  It may have been
        removed by the original poster, or you may have followed an incorrect
        link.  Please check the link the try again, or 
        <%= link_to("browse more invitations here", browse_url) %>.</p>