<% for column in School.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @school.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @school %> |
<%= link_to 'Back', :action => 'list' %>
