Dear <%= @user_name %>,

We at MeetingWave value your feedback.  We read every email and respond as needed to any questions or problems.  

Thanks for taking the time to help us make MeetingWave a better place to network.

Sincerely,
The MeetingWave Team
