A user (<%= @user_name %>, <%= @user_email %>) submitted the following feedback at <%= Time.now %> via the MeetingWave "Contact Us" page.
Subject: <%= @user_subject %>
Feedback: <%= @user_feedback %>
