<h1 id="the-company">Meeting<span class="gr">Wave</span>: The Company</h1>

<div id="left-column">
  <ul>
    <li><a href="#company-profile">Connect Here</a></li>
    <li><a href="#Why-MeetingWave">Why MeetingWave</a></li>
    <li><%= link_to("In The News", in_news_home_url) %></li>
  </ul>
</div>

<div id="main-column">

  <div class="about-section">
    <h2><a name="company-profile">Connect here. Meet in person</a></h2>
    <p>
      Our online tool connects you with the people you need to know. 
	  Our features give you control over who you meet, and protect 
	  your identity online. Even better, it's free.
    </p>
  </div>
  <div class="about-section">
    <h2><a name="Why-MeetingWave">Why MeetingWave?</a></h2>
    <p>
      Networking with people is still the most important thing 
	  to do if you are looking for a new opportunity -- whether 
	  it's a new job, leads, a business partnership, customers, 
	  or clients. 
    </p>
	<p>
      MeetingWave goes further, believing it's 'in person' relationships 
	  that will yield the most and best opportunities. Our tool connects 
	  you with real people, allowing you to build real, valuable relationships 
	  with other professionals, employees, clients, partners or mentors. Moreover, 
	  our tool helps you target exactly who you want to meet, so you don't waste 
	  your time.  
    </p>
  </div>

 </div>
