<div class="maincontent-create">
<div id="middle-mw-top">
<div id="top-bg-new">&nbsp;</div>
<div style="width:995px; clear:both;">
<h1><p style="padding:0 26px 0 26px;">MeetingWave's Mobile Application</p></h1><br />
<p style="padding:0 26px 0 26px;">
Business Network on the Fly!
</p><br />
<p style="padding:0 26px 0 26px;">
Meet new clients, new customers, fellow alumni or business contacts - anytime, anyplace - with the same privacy, controls & flexibility provided by MeetingWave.com.
</p><br />
<h2><p style="padding:0 26px 0 26px;">
Download MeetingWave's location-based iphone app <a href="#" style="text-decoration:none;">HERE</a>.  <span style="font-weight:bold; font-style:italic;">It's Free</span>. 
</p></h2><br />
<p style="padding:0 26px 0 26px;">
After downloading, create a profile with some background information and supplement your profile with one or more verified email domains and we'll display your verified email domains on your profile (e.g., @alumni.uconn.edu, @ibm.com, etc).  <span style="font-weight:bold; font-style:italic;">It's Free</span>.
</p><br />
<p style="padding:0 26px 0 26px;">
Create an invite describing the type of people you'd like to meet & set up your networking preferences.  <span style="font-weight:bold; font-style:italic;">This is also Free</span>.
</p><br />
<p style="padding:0 26px 0 26px;">
If interested in meeting new contacts, set your status to "Available".  We don't disclose your identity, contact info or specific location.  If someone sends you a Meeting Request or Accepts your Invite and you approve confirming the meeting, the other member is charged $4.99.
</p><br />
<p style="padding:0 26px 0 26px;">
Run a Trace to see who is nearby.  If you see someone you'd like to grab a coffee or lunch with, send them a Meeting Request.   If they accept, you'll get charged only $4.99 for the opportunity to meet with a new client, customer, or business contact.
</p><br />
<p style="padding:0 26px 0 26px;">
'Concealed-identity' messaging is available after the members agree to meet to facilitate meeting planning.  Try it today.  It's free to try out and members only get charged for confirmed meetings.
</p><br />
<p style="padding:0 26px 0 26px;">
We will be launching applications for the Blackberry and Android platforms in the coming weeks.
</p><br />

</div>
       	<div id="sub-bottom-mw">&nbsp;</div>
        <div id="bottom-mw">&nbsp;</div>      


</div>
</div>

<%= render :partial => 'shared/how_it_works' %>
<% if !current_member %>
<%= render :partial => 'shared/signin' %>

<%= render :partial => 'shared/about' %>
<% end %>