<%= @recipient %>,
<%= @author %> has sent you a message regarding: <%= @invitation_name %>
     
<%= @message %>
_______________________________________________________________________

Reply
<%= @url_reply %>

Review the invitation
<%= @url_invite %>
