
<%= @author %> has sent you a message regarding: <%= @invitation_name %>
     
<%= @message %>

_______________________________________________________________________

<%= link_to("Reply",@url_reply) %>
or 
<%= link_to("Review the invitation",@url_invite) %>
