<div class="editaccount_form" style="height: 250px;">
	  <h4 class="system">Email Verification Needed</h4>

    <p> For security purposes, since the email address you registered was
    different from the one you were invited under, you will have to verify this
    new address before you can <%= @invite_response %> this invitation.  </p>

    <p> Please check your email at <%= @email %> and follow the link that has
    been emailed to you there. </p>

</div>
