<h1>Editing sports_team</h1>

<%= form_tag :action => 'update', :id => @sports_team %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @sports_team %> |
<%= link_to 'Back', :action => 'list' %>
