This is a friendly reminder from MeetingWave.com about your upcoming meeting:
    <%= link_to(@invitation.name, @url) %>

This meeting will take place on <%= @invitation.upcoming_meeting.start_time_local %>.

