<html>
  <head>
	<%= stylesheet_link_tag("meetingwave/base.css","meetingwave/two.css","meetingwave/pages/home.css","meetingwave/modular/invites.css","ttb/ttb_map.css", "meetingwave/modular/nav.css", :cache => "cached/home_layout") %>

  </head>
<body>
	    <%= yield %>    	
</body>

</html>


