<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>MeetingWave <% if !@area.nil? %>- Invitations <%= @area %> Business Networking Meetings<% end %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="google-site-verification" content="O8RMwXL4nPrvB2KoAALuPAlHwWk9f5TDzeZ6S23rBAM" />
	<link rel="shortcut icon" href="/images/meetingwave/favicon.gif" type="image/x-icon" />
	<!-- Stylesheets  -->
     <% start_caching_stylesheets %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/meetinwavenew/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/meetinwavenew/signup/loginpopup.css" />
	
	<!-- Javascript Includes -->
    <% start_caching_stylesheets %>
	<%= stylesheet_link_tag("meetingwave/pages/home.css") %>
	<%= stylesheet_link_tag("meetingwave/pages/invitations.css") %>
	<%= stylesheet_link_tag("meetingwave/modular/nav.css") %>

	<%= cached_stylesheet_link_tag %>

	<%= javascript_include_tag 'invite_schedule'  %>
    <%#= javascript_include_tag 'WRb'  %>
  
	<!-- Javascript Includes -->
	<%= javascript_include_tag :defaults, :cache => "cached/defaults" %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'scriptaculous' %>
	<%= javascript_include_tag 'date_selector' %>
	<%= javascript_include_tag('reminder.js') if controller.action_name == 'show' %>
	<%= javascript_include_tag('messages.js') if controller.action_name == 'show' %>

    <script src="/javascripts/newforward.js" type="text/javascript"></script>

	<!-- Utilities -->
	<%= render :partial => '/shared/window' %>
	<%= render :partial => '/shared/tab_includes' %>
	<%#= render :partial => '/shared/quick_invite_includes' %>
	<%= render :partial => '/shared/tooltip_includes' %>
	<%= render :partial => '/shared/accessible_form_includes' %>


	<!-- Map Stuff -->
	<%= GMap.header(:host => request.host) %>  

	<%= render :partial => '/shared/meta_tags' %>	
	<%= rss_link_tag() %>	


	<%= calendar_date_select_includes :style => "plain", :format => :american %>

	<%= stylesheet_link_tag("meetingwave/modular/forward.css") %>    

    <%= stylesheet_link_tag("meetingwave/base_new.css") %>
	<%= stylesheet_link_tag("meetingwave/two.css") %>
	<%= stylesheet_link_tag("meetingwave/pages/browse.css") %>
	<%= stylesheet_link_tag("meetingwave/modular/nav.css") %>
	<%= stylesheet_link_tag("meetingwave/modular/alerts.css") %>
	
	<!-- Javascript Includes -->
    <%= javascript_include_tag :defaults, :cache => "cached/defaults" %>
	<%= rss_link_tag(@feed_params) %>
	<%= stylesheet_link_tag 'meetingwave/modular/get_started.css' %>

	<%= render :partial => '/shared/window' %>
	<%= render :partial => '/shared/tooltip_includes' %>
    <%= render :partial => '/shared/quick_invite_includes_new' unless current_member.blank? %>
	<%= render :partial => '/shared/accessible_form_includes' %>
	<%= render :partial => '/shared/meta_tags' %>	
	<%= calendar_date_select_includes :style => "plain", :format => :american %>
    
    <script type="text/javascript">
    function remove_defalt_find_meeting(messageid)
      {
         document.getElementById(messageid).value="";
         document.getElementById(messageid).className="black";
      }
      
      function fill_defalt_find_meeting(messageid)
      {
        if(document.getElementById(messageid).value=='')
        {
        document.getElementById(messageid).value="I thought you might be interested ...";
        document.getElementById(messageid).className="gray1";
        }
      }
    </script>
</head>
<body style="overflow-x:hidden;">
   <!--script src="/javascripts/wz_tooltip.js?1253890036" type="text/javascript"></script>

  <script src="/javascripts/tip_balloon.js" type="text/javascript"></script-->

<!-- start-main-container-->
<div class="maincontainer">
  <div class="header"><% if !current_member %><%= render :partial => '/shared/before_login_header' %> <% else %><%= render :partial => 'shared/new_header' %> <% end %></div>
  
  <%= yield %>
  <input type="hidden" name="raju" id="raju" />
  <div id="footer_new"> <%= render :partial => '/shared/footerhome' %> </div>
</div>
<!-- End-main-container-->
</body>
</html>








