
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<%= title_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="O8RMwXL4nPrvB2KoAALuPAlHwWk9f5TDzeZ6S23rBAM" />
	<link rel="shortcut icon" href="/images/meetingwave/favicon.gif" type="image/x-icon" />
	
	<!-- Stylesheets  -->
	<%= stylesheet_link_tag("meetingwave/base.css") %>
	<%= stylesheet_link_tag("meetingwave/two.css") %>
	<%= stylesheet_link_tag("meetingwave/pages/browse.css") %>
	<%= stylesheet_link_tag("meetingwave/pages/super_search.css") %>
	<%= stylesheet_link_tag("meetingwave/modular/nav.css") %>
	<%= stylesheet_link_tag("meetingwave/modular/alerts.css") %>
	
	<!-- Javascript Includes -->
        <%= javascript_include_tag :defaults, :cache => "cached/defaults" %>
	<%= rss_link_tag(@feed_params) %>
	<%= stylesheet_link_tag 'meetingwave/modular/get_started.css' %>

	<%= render :partial => '/shared/window' %>
	<%= render :partial => '/shared/tooltip_includes' %>
    <%= render :partial => '/shared/quick_invite_includes' unless current_member.blank? %>
	<%= render :partial => '/shared/accessible_form_includes' %>
	<%= render :partial => '/shared/meta_tags' %>	
	<%= calendar_date_select_includes :style => "plain", :format => :american %>

</head>
<body>

  <div id="content">
    <%= render :partial => 'shared/nav' %>
	<%= yield %>
  </div>
  <%= render :partial => '/shared/footer' %>
</body>
</html>








